langchain
langchain-community
langchain-openai
langchain-text-splitters
langchain-chroma
chromadb
pymilvus
fastapi
uvicorn[standard]
streamlit
gradio
requests
pydantic
pyyaml
python-dotenv
python-frontmatter
markdown-it-py==2.2.0
pytest
minio==7.2.20
pymysql
playwright
psutil==7.2.2
ruamel.yaml==0.17.21
